* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}
#main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    border: 3px solid red;
    height: 100vh;
    width: 100%;
}

.header {
    display: grid;
    grid-column:  2 / -1;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    border: 3px solid gold;
}

.search {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    grid-template-columns: auto 1fr;
    align-items: center;
}


.searchbox{
    height: 20px;
    width: 900px;
    background-color: lightgray;
    border: 1px;
    border-radius: 25px;
}

.info {
    display: grid;
    grid-column: 2/ -1;
    grid-template-columns: auto auto 1fr;
    grid-row: 1;
    font-weight: 700;
    align-items: center;
    gap: 15px;
}


.welcome {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 100px 100px;
    align-items: center;
    gap: 30px;
}

.pfp {
    display: grid;
    grid-row: 1 / 2
}

#hi {
    display: grid;
    grid-column: 2/3;
    grid-row: 1;
}

#name {
    display: grid;
    grid-column: 2/3;
    grid-row: 2;
    width: 300px;
}

.file {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto 1fr;
}
.upload {
    background-color: #3399ff;
    border-radius: 15px;
    border: 0px;
    color: white;
    width: 70px;
    height: 40px;
}

.sidebar {
    display: grid;
    grid-area: 1 / 1 / 4 / 2;
    border: 3px solid green;
    grid-template-rows: auto auto auto 1fr;
    justify-content: start;
    padding-left: 10px;
    gap: 50px;
}

.db {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-row: 1 / 2;
}

.nav {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-row: 2 / 3;
}

.support {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-row: 3 / 4;
}

.sidebar li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    list-style-type: none;
    gap: 7px;
}

.sidebar ul {
    display: grid;
    gap: 10px;
    margin: 0;
    padding: 0;
}


.main-content {
    display: grid;
    grid-area: 2 / 2 / -1 / -1;
    border: 3px solid pink;
    background-color: #d9d7d7;
    grid-template-columns: 4fr 1fr;
}

.dashboard {
    background: url(src/view-dashboard.svg);
    width: 30px;
    height: 30px;
    display: block;
}


.star {
    background: url(src/star-plus.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.eye {
    background: url(src/eye-plus.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.fork {
    background: url(src/source-fork.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.bell {
    background: url(src/bell.svg);
    width: 20px;
    height: 20px;
}

.magnify {
    background: url(src/magnify.svg);
    width: 20px;
    height: 20px;
}

.home {
    background: url(src/home-variant.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.profile {
    background: url(src/card-account-details-outline.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.msg {
    background: url(src/message.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.clock {
    background: url(src/clock.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.files {
    background: url(src/file-multiple.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.comm {
    background: url(src/account-group.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.cog {
    background: url(src/cog.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.help {
    background: url(src/message-question.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.privacy {
    background: url(src/shield-account.svg);
    width: 20px;
    height: 20px;
    display: block;
}